@model UdemyWalks.Models.AddRegionViewModel
@{
}
<h1 class="mt-3"> Regions </h1>

<form method="post" class="mt-3">


    <div class="m-3">
        <label class="form-label">Code</label>
        <input type="text" class="form-control" asp-for="Code"/>
    </div>
    <div class="m-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="m-3">
        <label class="form-label">Image Url</label>
        <input type="text" class="form-control" asp-for="ImageUrl" />
    </div>
    <div class="m-3">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>



</form>