@model IEnumerable<UdemyWalks.Models.DTO.RegionDto>

@{
}
<h1 class="mt-3"> Regions </h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Regions" asp-action="Add">Add Region</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</td>
            <th>Code</td>
            <th>Name</td>
            <th>Name</td>
            <th>Actions</td>
            <th>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var walk in Model)
        {
            <tr>
                <td>@walk.Id</td>
                <td>@walk.Code</td>
                <td>@walk.Name</td>
                <td>
                    <a asp-controller="Regions" asp-action="Edit" asp-route-id="@walk.Id" class="btn btn-light">Edit</a>
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>
